# MySQL
mysql_host: mysql
mysql_port: 3306
mysql_user: <username>
mysql_pass: <password>
mysql_root_pass: <password>
mysql_name: <name>

# Stackdriver MySQL user
stats_user: <username>
stats_pass: <password>

# SFTP credentials
sftp_port: 2222
sftp_username: <username>
sftp_password: <password>